.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

a {
  font-size: 22px;
  background: white;
  padding: 4px;
  margin: 4px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links ul,
.right-links ul{
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding: 4px;
  margin: 0;
}